~*
*~

*.log
*.out
*.pid

bower_components
node_modules
npm-debug.log
.node_history

.c9
# .vscode
.idea
.DS_STORE
.netbeans
nbproject

.build-env
build/__secrets

# Ignore the server-kit generated config files.
*.defaults.json
*.settings.json

# Ignore the server-kit-cli session files.
*.session.json